// ### Primary

$lightCyan: #cee3e9;
$neonGreen: hsl(150, 100%, 66%);
$neonGreen2: rgba(82, 255, 168, 0.8);

// ### Neutral

$grayishBlue: #4e5d73;
$darkGrayishBlue: hsl(217, 19%, 24%);
$darkBlue: hsl(218, 23%, 16%);