@use 'colors.scss' as c;

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}

body {
	background-color: c.$darkBlue;
	font-family: 'Manrope', sans-serif;
}

.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 22.3rem 1.6rem;
	max-width: 144rem;
}

.advice {
	&__container {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		width: 34.3rem;
		min-height: 34.7rem;
	}

	&__greybox {
		margin-bottom: 3.2rem;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		width: 30rem;
		min-height: 31.5rem;
		border-radius: 1rem;
		background-color: c.$darkGrayishBlue;
		box-shadow: 3rem 5rem 8rem rgba(0, 0, 0, 0.100202);
	}

	&__num-box {
		margin-top: 4rem;
		width: 100%;
		min-height: 1.5rem;
	}

	&__num,
	&__txt {
		text-align: center;
		font-weight: 800;
		text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	}

	&__num {
		color: c.$neonGreen;
		font-size: 1.1rem;
		letter-spacing: 0.35rem;
		line-height: 1.5rem;
	}

	&__txt-box {
		flex: 3 1 auto;
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		margin: 2rem 0;
		padding: 1rem;
		max-width: 29.5rem;
		min-height: 13.2rem;
		text-align: center;
	}

	&__txt {
		color: c.$lightCyan;
		font-size: 2.4rem;
		line-height: 3.3rem;
		letter-spacing: -0.26px;
		font-weight: 800;
		text-align: center;
	}

	&__pattern-divider {
		margin-top: 1rem;
		margin-bottom: 7rem;
		width: 29.5rem;
		height: 1.6rem;
		background-image: url('../img/pattern-divider-mobile.svg');
	}

	&__btn {
		position: absolute;
		bottom: -3.2rem;
		transform: translateY(-50%);
		width: 6.4rem;
		height: 6.4rem;
		background-color: c.$neonGreen;
		background-repeat: 1rem;
		z-index: 5;
		border-radius: 50%;
		border: 1px solid transparent;
		cursor: pointer;

		&:hover {
			filter: drop-shadow(0 0 2rem c.$neonGreen2);
		}
	}
}

.attribution {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	text-align: center;
	font-size: 11px;
	color: hsl(228, 45%, 44%);
}

@media (min-width: 375px) {
	.advice {
		&__greybox {
			width: 34.3rem;
		}
	}
}

@media (min-width: 992px) {
	.advice {
		&__container {
			width: 54rem;
			min-height: 36.4rem;
		}
		&__greybox {
			width: 54rem;
			min-height: 33.2rem;
			border-radius: 1.5rem;
		}

		&__num {
			font-size: 1.3rem;
			line-height: 1.8rem;
			letter-spacing: 0.4rem;
		}
		&__txt-box {
			max-width: 44.4rem;
			min-height: 11.4rem;
		}
		&__txt {
			font-size: 2.8rem;
			line-height: 3.8rem;
			letter-spacing: -0.03rem;
		}
		&__pattern-divider {
			width: 44.4rem;
			min-height: 1.6rem;
			background-image: url('../img/pattern-divider-desktop.svg');
		}
	}
}
